<mat-toolbar class="navbar">
    <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button>
    <span appFontSize>CRUD Alumnos</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.close()" routerLink="inicio">Inicio</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="alumno/cargar">Cargar Alumno</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="alumno/tabla">Editar y Eliminar Alumnos</a>         
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
